# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
**/.fvm/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Generated
**/*.g.dart
**/*.freezed.dart
**/*.gr.dart
**/*.mocks.dart

# Environment
.env
.env.*
!.env.example

# Coverage
coverage/
**/lcov.info

# Melos
.melos/
